body{
    
   
    background-color: #f0f8ff;
    color: #00008b;
  
}

main{
    float: inline;
    font-family: inter;
}

.navbar {
  background-color: #e6e6fa !important;
}

/* informações de usuario */

.informacoes{
    width: 50%;
    float: left;
}
#foto-perfil {
    width: 150px;
    height: 150px;
    background-color: lightgrey;
    border-radius: 50%; /* Isso faz as bordas circulares */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 50px;
  }

.imagem{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


#quadrado {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto; /* Centraliza horizontalmente */
  margin-top: 20px; /* Adiciona um espaço superior */
  position: relative; /* Necessário para posicionar o botão */
}

.input-field {
  width: calc(100% - 40px); /* Calcula a largura do campo de entrada para acomodar o botão */
  padding-right: 40px; /* Espaçamento para acomodar o botão */
  margin-bottom: 10px;
}




#lapis {
  padding: 5px 5px;
    border-radius: 10px;
    cursor: pointer;
    border: 0;
    background-color: white;
    box-shadow: rgb(0 0 0 / 0%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 10px;
    transition: all 0.5s ease;
    color: black;

}
#excluir-foto{
  padding: 10px 30px;
    border-radius: 10px;
    background-color: white;

}


/*Dados cadastrais*/

#dadosCadastrais {
  margin-top: 5px; 
 
}
button{
  background-color: #00008b;
  color: #ffffff;
}
button:hover {
  background-color: gray;
  color: white;
}

/*button {
    padding: 10px 40px;
    border-radius: 10px;
    cursor: pointer;
    border: 0;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 10px;
  
   
  }
  
  button:hover {
    letter-spacing: 3px;
    background-color: hsl(239, 80%, 48%);
    color:white;
    box-shadow: rgb(119, 109, 248) 0px 7px 29px 0px;
  }
  
  button:active {
    letter-spacing: 3px;
    background-color: hsl(239, 80%, 48%);
    color:white;
    box-shadow: rgb(119, 109, 248) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
  }*/
  
/*objetivos*/

#objetivos{
    text-align: left;
    margin-top: 20px; 
    margin-left: 120px;
    
}

/*linha divisoria*/
hr{
    color:  hsl(239, 80%, 48%);
    
}


/* desafios diarios */
  
  .titulo {
    color: black;
    font-size: 20px;
    text-align: center;
    padding: 20px;
  }



  .titulo-desafio {
    color: black;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    user-select: none; /* Impede a seleção do texto */
}

.quadrado {
    width: 200px;
    height: 200px;
    background-color: hsl(239, 80%, 48%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Coloca o título acima do texto */
    margin: 0 auto; /* Centraliza horizontalmente */
    margin-top: 20px; /* Adiciona um espaço superior */
    position: relative; /* Permite posicionar o título de forma absoluta */
}

.desafio {
    color: black;
    font-size: 16px;
    text-align: center;
}

  .desafios-anteriores{
    margin: 20px;
  }

  

  
/*graficos*/

#graficos{
    background-color: hsl(239, 80%, 48%);
    width: 40%;
    float: right;
    padding: 20px;
    margin: 50px;
}

.texto-graficos{
    text-align: center;
}

a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
a:hover {
    color: white;
}


/*rodape*/
footer {
  background-color: #00008b;
  color: #ffffff;
  text-align: center;
    font-size: 0.8em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-top: 50px;
  }



  /* CSS para telas com largura máxima de 800px */
@media screen and (max-width: 800px) {
  
  header {
    background-color: #f0f0f0;
    padding: 10px;
  }

  .navbar-brand {
    font-size: 18px;
  }

  .navbar-nav .nav-link {
    font-size: 14px;
  }

  .container {
    padding: 0 10px;
  }

  .row {
    margin: 0;
  }

  .col-md,
  .col-sm-8 {
    flex-basis: 100%;
    max-width: 100%;
  }

  .d-flex {
    flex-direction: column;
  }

  #foto-perfil {
    margin-bottom: 20px;
  }


  .lapis {
    margin-bottom: 5px;
  
  }


  #dadosCadastrais {
    margin-top: 5px;
  }

  .button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  .voltar-button,
  .continue-button {
    width: 48%;
  }

  #graficos {
    background-color: hsl(239, 80%, 48%);
    width: 80%; /* Alterado para 80% para melhor ajuste em telas menores */
    margin: 20px auto; /* Centralizar horizontalmente e adicionar margem superior e inferior */
    padding: 20px;
    text-align: center;
  }

  .texto-graficos {
    margin-top: 20px; 
    width: 100%; 
  }
}
