<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/crud.css">
  <title>Tabela de Usuários</title>
</head>
<body>
  <div class="table-container">
    <h1 class="heading">Tabela de Usuários</h1>
    <table id="tabelaUsuarios">
     <thead>
      <tr>
        <th>Data de Nascimento</th>
        <th>E-mail</th>
        <th>Senha</th>
        <th>Celular</th>
        <th>Ações</th>
      </tr>
     </thead>
    </table>

    <div class="btcadastro">
      <a href="index.html"><button>Voltar para pagina de perfil</button></a>
    </div>
  </div>

  <script src="../js/crud.js"></script>
</body>
</html>